*{
  margin: 0;
  padding: 0;
}

.custombtn.active {
  background-color: #2dc492;
  color: white;
}

.customdate.active {
  background-color: #F97316;
  color: white;
}

.customdate.active div {
  color: white;
}